* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

#contador {
    font-size: 30px;
    margin-bottom: 25px;
}

#botao {
    width: 220px;
    height: 220px;

    border-radius: 50%;
    border: none;

    background: red;
    color: white;

    font-size: 30px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.1s;
}

#botao:active {
    transform: scale(0.9);
}

