* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white; /* Fundo branco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

#contador {
    font-size: 28px;
    margin-bottom: 30px;
}

#botao {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: none;
    background: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#botao:active {
    transform: scale(0.9);
}
