* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

#contador {
    font-size: 30px;
    margin-bottom: 25px;
}

#botao {
    width: 220px;
    height: 220px;

    border-radius: 50%;
    border: none;

    background: red;
    color: white;

    font-size: 30px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.1s;
}

#botao:active {
    transform: scale(0.9);
}



#abrirLoja {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 20px;
}

#loja {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: white;
    border: 3px solid black;
    border-radius: 15px;

    padding: 20px;

    width: 320px;

    text-align: center;

    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.upgrade {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
}

